@model IEnumerable<DynamicProductUpdate.Category>

@{
    ViewBag.Title = "Index";
}

<h2 class="card card-body shadow-sm">Category List</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-responsive-sm shadow-sm">
    <thead>
        <tr>
            <th style="width: 80%;">
                Category
            </th>
            <th style="width: 20%;">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.categoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.categoryId }, new { @class = "btn btn-success btn-sm" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.categoryId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
